@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/* font-family: 'Kaushan Script', cursive; */

html,
body {
  margin: 0;
}

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.polaroid {
  position: relative;
  width: 240px;
  display: inline-block;
  margin: 20px;
}

.polaroid img {
  width: 100%;
  height: auto;
  border: 10px solid #ccc;
  /* border-bottom: 45px solid #ccc; */
  border-bottom-width: 45px;
  /* x | y | blur | spread | color */
  -webkit-box-shadow: 3px 3px 10px 3px rgba(10,10,10, 0.5);
  -moz-box-shadow: 3px 3px 10px 3px rgba(10,10,10, 0.5);
  box-shadow: 3px 3px 10px 3px rgba(10,10,10, 0.5);
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #333;
  font-family: 'Kaushan Script', cursive;
}

/* Navbar */

header {
  width: 80%;
  padding: 0 10%;
  height: 50px;
  position: fixed;
  background: url(../img/cheap_diagonal_fabric.png);
  z-index: 10;
}

header h1 {
  display: inline-block;
  color: #333;
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  padding: 0;
}

nav {
  float: right;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(40,40,40, 0.1);
}

nav li {
  font-family: 'Kaushan Script', cursive;
  height: 50px;
  line-height: 50px;
  width: 120px;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #444;
  display: block;
  text-align: center;
  transition: all 1s;
}

nav a:hover {
  background-color: rgba(10,10,10, 0.5);
  color: white;
}





















