<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/layout-1.css" type="text/css">
</head>

<body>
    <!-- header, main, sidebar, and footer using pixel -->
    <header>
        A header element with width 100%, menu layouts coming soon!
    </header>

    <main class="clearfix">
        <h1>Main content section - heading elements always display block by default</h1>
        <article>
            <h2>Article with 3 sections!</h2>
            <section>
                <h3>Section 1</h3></section>
            <section>
                <h3>Section 2</h3></section>
            <section>
                <h3>Section 3</h3></section>
        </article>
        <aside>
            <h2>Sidebar</h2>
            <ul class="vertical-menu">
              <li><a href="#">item 1</a></li>
              <li><a href="#">item 2</a></li>
              <li><a href="#">item 3</a></li>
            </ul>
        </aside>
    </main>
    <footer>
        <h4>some footer text</h4>
    </footer>
</body>

</html>
