body{
	font-family: $sans;
  //line-height: $baseline;
  font-size: $basesize;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  line-height: auto;
  font-weight: 300;
}

h1{
  font-size: 3em
}
h2{
  font-size: 2.0em
}
h3{
  font-size: 1.5em
}
h4{
  font-size: 1.2em
}

p, figcaption{
  font-size: $basesize;
  padding: $baseline/2 0;

}

a{
  color:$primary-brand;
  text-decoration: none;
}

strong{
  font-weight: 800;
}

@mixin input-placeholder($color, $font-size, $font-weight){
  &::-webkit-input-placeholder{
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
  }  
  &:-moz-placeholder{
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
  }
    
  &::-moz-placeholder{
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
  }
  &:-ms-input-placeholder{
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
  }   
}
  