/******************************
			VARS
******************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');


/* Color Scheme */
$primary-black:rgba(40,40,50,1); //black
$primary-brand: rgba(0,112,255,1); //blue
$secondary-brand: #05C1B3; //teal
$call-to-action: rgb(238, 163, 59);
$dark-bg: #444;
$med-bg: #777;
$light-bg: #EEE;

/* Typography */
$sans: 'Open Sans', sans-serif;
$baseline: 24px;
$basesize:16px;

@mixin linearGradient_V($top, $bottom){
    background: $top;
    background-image: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%,$top), color-stop(100%,$bottom));
    background-image: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
    background-image: -o-linear-gradient(top,  $top 0%,$bottom 100%);
    background-image: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
    background-image: linear-gradient(to bottom,  $top 0%,$bottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
}

@mixin linearGradient_H($left, $right){
    background: $left; /* Old browsers */
    background-image: -moz-linear-gradient(left,  $left 0%, $right 100%);
    background-image: -webkit-gradient(linear, left, right, color-stop(0%,$left), color-stop(100%,$right));
    background-image: -webkit-linear-gradient(left,  $left 0%,$right 100%);
    background-image: -o-linear-gradient(left,  $left 0%,$right 100%);
    background-image: -ms-linear-gradient(left,  $left 0%,$right 100%);
    background-image: linear-gradient(to right,  $left 0%,$right 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006FFF', endColorstr='#05C1B3',GradientType=0 );
}
